<% include ../tpl/common_head.html %>
    
<body class="chemist-index ms-controller" ms-controller='chemist_detail'>
    <% include ../tpl/common_header.html %>
    
    <div class="p"></div>
    <div class="box-1000">
        <div class="row-12 box-400" ms-css-background='"url(/resource/img/chemist_detail_bg_default.jpg) no-repeat"' ms-css-background-size='"100% 100%"'>
            <div class=" row-8"></div>
            <div class="zyo-box zyo-box-last row-4">
                <div class="container">
                    <div class="col-3 pull-left text-center">
                        <div class="badge zyo-bg-white circle" ms-css-margin-top='"-50%"'>
                            <img class="circle col-12" ms-attr-src='employeeInfo.avatar||"/resource/img/img_loading.png"' />
                        </div>
                        <p class='p small'>
                            <small class="text-white badge-sm zyo-bg-info" ms-if='employeeInfo.userType==1'>执业药师</small>
                            <small class="text-white badge-sm zyo-bg-info" ms-if='employeeInfo.userType==2'>店员</small>
<!--
                            <small class="text-white badge-sm zyo-bg-yes" ms-if='el.onLine==1'>在线</small>
                            <small class="text-white badge-sm zyo-bg-disabled" ms-if='el.onLine==2'>离线</small>
-->
                        </p>
                    </div>
                    <div class="col-3 pull-left text-center">
                        <p class='p text-gray small'>粉丝</p>
                        <p class='text-black big' ms-text='employeeInfo.fansNum'></p>
                    </div>
                    <div class="col-3 pull-left text-center">
                        <p class='p text-gray small'>已服务</p>
                        <p class='text-black big' ms-text='employeeInfo.serviceNum'></p>
                    </div>
                    <div class="col-3 pull-left text-center">
                        <p class='p text-gray small'>好评度</p>
                        <p class='text-black big' ms-text='employeeInfo.userRank||0'></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="zyo-pdtop zyo-pdbottom"></div>
        <div class="zyo-box col-12 zyo-pdtop zyo-pdbottom">
            <div class="col-5 pull-left zyo-pdleft text-left">
                <button class="btn col-10 text-center text-white big btn-zyo-info" ms-click='likeFn()' ms-data-if='employeeInfo.isFav' ms-if='!parseInt(employeeInfo.isFav)'>关注</button>
                <button class="btn col-10 text-center text-white big btn-zyo-info" ms-click='unlikeFn()' ms-data-if='employeeInfo.isFav' ms-if='!!parseInt(employeeInfo.isFav)'>取消关注</button>
            </div>
            <div class="col-5 pull-right zyo-pdright text-right">
                <a class="btn col-10 text-center text-white big btn-zyo-yes" ms-attr-href='"/message#/talk/to="+employeeInfo.uid'>问问TA</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="zyo-box" ms-if='!!employeeInfo.storeName'>
            <div class='col-3 pull-left b'>
                <p class="zyo-pdleft">所属药店</p>
            </div>
            <div class='col-9 pull-left text-gray'>
                <a ms-attr-href='"/tool/store/detail?storeId="+employeeInfo.storeId'>
                    <p class="zyo-pdright link-right-arrow" ms-text='employeeInfo.storeName'></p>
                </a>
            </div>
            <div class='clear'></div>
        </div>
        <div class="zyo-box text-center" ms-class-zyo-box-last='!!employeeInfo.storeName'>
            <div class='col-3 pull-left b'>
                <p class="zyo-pdleft row-12 box-80 text-left" style="vertical-align:middle;">个人签名</p>
            </div>
            <div class='col-9 pull-left text-gray'>
                <p class="zyo-pdright text-left" ms-text='employeeInfo.signature'></p>
            </div>
            <div class='clear'></div>
        </div>
    </div>
    
    <% include ../tpl/common_footer.html %>

    <script>
        require(['avalon'], function(avalon){
            var chemist_detail= avalon.define({
                $id: 'chemist_detail',
                employeeInfo: <%- employeeInfo %>,
                likeFn: function(){
                    require(['Ajax', 'cookie'], function(){
                        Ajax(
                            'get',
                            '/tool/chemist/collect',
                            'dataId='+ chemist_detail.employeeInfo.uid,
                            function(json){
                                var res= JSON.parse(json);
                                if(res.code== 0){
                                    chemist_detail.employeeInfo.isFav= 1
                                    console.log(chemist_detail.employeeInfo.isFav)
                                }
                                else if(res.code== 7){
                                    require(['cookie'], function(){
                                        console.info(setCookie('http_referer', self.location.href))
                                        location.href= '/login'
                                    })
                                }
                            }
                        )
                    })
                },
                unlikeFn: function(){
                    require(['Ajax', 'cookie'], function(){
                        console.log(setCookie('http_referer', self.location.href))
                        Ajax(
                            'get',
                            '/tool/chemist/uncollect',
                            'dataId='+ chemist_detail.employeeInfo.uid,
                            function(json){
                                var res= JSON.parse(json);
                                if(res.code== 0){
                                    chemist_detail.employeeInfo.isFav= 0
                                    console.log(chemist_detail.employeeInfo.isFav)
                                }
                                else if(res.code== 7){
                                    require(['cookie'], function(){
                                        console.info(setCookie('http_referer', self.location.href))
                                        location.href= '/login'
                                    })
                                }
                            }
                        )
                    })
                },
            })
            avalon.scan()
        })
        require(['avalon'], function(avalon){
            var app_header= avalon.define({
                $id: 'app_header',
                navbarCtrl: "<img class='pull-left' src='/resource/img/btn_nav_backward.png'/>",
                navbarCtrlFn: function(){
                    history.go(-1);
                },
                appTitle: avalon.vmodels.chemist_detail.employeeInfo.userName||'药师',
                navbarFilter:'',
                navbarMenu: "<img class='pull-right' src='/resource/img/icon_nav_claim.png' />",
                navbarMenuFn: function(){
                    location.href= '/';
                },
            })
            avalon.scan()
        })
    </script>
    
</body>
    