<% include ../tpl/common_head.html %>
<% include ../tpl/index_docker.html %>
    
<body class="main-tool">
    <nav class="zyo-nav">
        <div class="full-width">
            <div class="full-width">
                <input class="full-width search-input-circle" type='search' placeholder='请输入药店、药品、症状、疾病等'/>
            </div>
        </div>
        <div class="clear"></div>
    </nav>
    <section class="tool-box">
        <div class="zyo-box tool-nav">
            <a href="#">
                <div class="col-4 text-center tool-blocks btn-link">
                    <p class='p'></p>
                    <p class=''>
                        <img class='icon-tool-icon' src='/resource/img/icon_druguse_block1.png'/>
                    </p>
                    <p class='p center-block'>常见病症</p>
                    <p class='p center-block text-gray'><small>60种常见病症</small></p>
                </div>
            </a>
            <a href="#">
                <div class="col-4 text-center tool-blocks btn-link">
                    <p class='p'></p>
                    <p class=''>
                        <img class='icon-tool-icon' src='/resource/img/icon_druguse_block2.png'/>
                    </p>
                    <p class='p center-block'>疾病自诊</p>
                    <p class='p center-block text-gray'><small>&nbsp;</small></p>
                </div>
            </a>
            <a href="#">
                <div class="col-4 text-center tool-blocks btn-link">
                    <p class='p'></p>
                    <p class=''>
                        <img class='icon-tool-icon' src='/resource/img/icon_druguse_block3.png'/>
                    </p>
                    <p class='p center-block'>口袋体检</p>
                    <p class='p center-block text-gray'><small>&nbsp;</small></p>
                </div>
            </a>
            <div class="clear"></div>
<!--            <div class="clear"></div>-->
            <a href="#">
                <div class="col-4 text-center tool-blocks btn-link">
                    <p class='p'></p>
                    <p class=''>
                        <img class='icon-tool-icon' src='/resource/img/icon_druguse_block4.png'/>
                    </p>
                    <p class='p center-block'>药品大全</p>
                    <p class='p center-block text-gray'><small>&nbsp;</small></p>
                </div>
            </a>
            <a href="#">
                <div class="col-4 text-center tool-blocks btn-link">
                    <p class='p'></p>
                    <p class=''>
                        <img class='icon-tool-icon' src='/resource/img/icon_druguse_block5.png'/>
                    </p>
                    <p class='p center-block'>疾病百科</p>
                    <p class='p center-block text-gray'><small>&nbsp;</small></p>
                </div>
            </a>
            <a href="#">
                <div class="col-4 text-center tool-blocks btn-link">
                    <p class='p'></p>
                    <p class=''>
                        <img class='icon-tool-icon' src='/resource/img/icon_druguse_block6.png'/>
                    </p>
                    <p class='p center-block'>症状百科</p>
                    <p class='p center-block text-gray'><small>&nbsp;</small></p>
                </div>
            </a>
            <div class="clear"></div>
<!--            <div class="clear"></div>-->
            <a href='#'>
                <div class="col-4 text-center tool-blocks btn-link">
                    <p class='p'></p>
                    <p class=''>
                        <img class='icon-tool-icon' src='/resource/img/icon_druguse_block7.png'/>
                    </p>
                    <p class='p center-block'>用药管理</p>
                    <p class='p center-block text-gray'><small>&nbsp;</small></p>
                </div>
            </a>
            <a href='#'>
                <div class="col-4 text-center tool-blocks btn-link">
                    <p class='p'></p>
                    <p class=''>
                        <img class='icon-tool-icon' src='/resource/img/icon_druguse_block8.png'/>
                    </p>
                    <p class='p center-block'>化验指标</p>
                    <p class='p center-block text-gray'><small>&nbsp;</small></p>
                </div>
            </a>
            <a href='#'>
                <div class="col-4 text-center tool-blocks btn-link">
                    <p class='p'></p>
                    <p class=''>
                        <img class='icon-tool-icon' src='/resource/img/icon_druguse_block9.png'/>
                    </p>
                    <p class='p center-block'>附近医院</p>
                    <p class='p center-block text-gray'><small>&nbsp;</small></p>
                </div>
            </a>
            <div class="clear"></div>
        </div>
    </section>
    <div class="">
    </div>

</body>
    