<% include ../tpl/common_head.html %>

<body class='main-drug' ms-controller='drug_main'>
    <% include ../tpl/common_header.html %>
    
    <section class="box-800">
        <div class="zyo-box col-12">
            <div class="col-9 pull-left">
                <div class="col-10 container">
                    <input class="col-12 search-input-round text-black" type="search" placeholder="输入药品" />
                </div>
            </div>
            <div class="col-3 pull-left">
                <div class="col-4 zyo-pdleft">
                    <button class="btn text-white btn-zyo-info col-4 container" style="padding:11px 2px;">搜索</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="zyo-box zyo-box-last" style="padding-top:0;padding-bottom:0;">
            <dl class="col-4 pull-left">
                <dd class="row-12 box-80 text-left zyo-pdleft bordered" ms-repeat-el='classifyList' ms-click='fuckFlag($index)' ms-data-active='!($index-active_flag)' ms-data-id='el.classId'>
                    <p class="row-12 box-80 center-block big" ms-text='el.className'></p>
                </dd>
            </dl>
            <dl class="col-8 pull-right" ms-repeat-el='classifyList' ms-if-loop='$index==active_flag'>
                <dd class="text-left btn-link" ms-repeat-ej='el.twoType' data-active='true' ms-data-id='ej.classId'>
                    <div class="zyo-pdleft" ms-text='ej.className'></div>
                </dd>
            </dl>
            <div class="clear"></div>
        </div>
    </section>
    
    <% include ../tpl/common_footer.html %>

    <script type="text/javascript">
        require(['avalon'], function(avalon){
            var app_header= avalon.define({
                $id: 'app_header',
                navbarCtrl: "<img class='-col-2' src='/resource/img/btn_nav_backward.png'/>",
                navbarCtrlFn: function(){
                    history.go(-1);
                },
                navbarFilter:'',
                appTitle: '常见病症',
                navbarMenu: "<img class='-col-12' src='/resource/img/icon_nav_claim.png'/>",
                navbarMenuFn: function(){
                    location.href= '/';
                }
            })
            avalon.scan()
        })
        require(['avalon'], function(avalon){
            var drug_main= avalon.define({
                $id: "drug_main",
                classifyList: [
                    {
                    "classId": "1",
                    "className": "感冒发热",
                    "twoType": [{"classId": "1","className": "解热镇痛"},{"classId": "2","className": "病毒性感冒"},{"classId": "122","className": "清热解毒"},{"classId": "123","className": "头痛头晕"},{"classId": "3","className": "驱风祛暑"}]
                    },
                    {
                    "classId": "5",
                    "className": "呼吸系统类",
                    "twoType": [{"classId": "18","className": "上呼吸道感染"},{"classId": "16","className": "止咳祛痰"},{"classId": "19","className": "气管炎"},{"classId": "17","className": "平喘用药"},{"classId": "1","className": "解热镇痛"},{"classId": "2","className": "病毒性感冒"},{"classId": "122","className": "清热解毒"},{"classId": "123","className": "头痛头晕"},{"classId": "3","className": "驱风祛暑"}]
                    },
                    {
                    "classId": "22",
                    "className": "男科用药",
                    "twoType": [{"classId": "139","className": "前列腺用药"},{"classId": "140","className": "阳痿早泄"},{"classId": "141","className": "滑精遗精"},{"classId": "145","className": "肾气虚弱"},{"classId": "146","className": "脱发斑秃"},{"classId": "142","className": "少精无精"},{"classId": "144","className": "男性不育"}]
                    },
                    //data above are repeated for test
                    {
                    "classId": "5",
                    "className": "呼吸系统类",
                    "twoType": [{"classId": "18","className": "上呼吸道感染"},{"classId": "16","className": "止咳祛痰"},{"classId": "19","className": "气管炎"},{"classId": "17","className": "平喘用药"},{"classId": "1","className": "解热镇痛"},{"classId": "2","className": "病毒性感冒"},{"classId": "122","className": "清热解毒"},{"classId": "123","className": "头痛头晕"},{"classId": "3","className": "驱风祛暑"}]
                    },
                    {
                    "classId": "22",
                    "className": "男科用药",
                    "twoType": [{"classId": "139","className": "前列腺用药"},{"classId": "140","className": "阳痿早泄"},{"classId": "141","className": "滑精遗精"},{"classId": "145","className": "肾气虚弱"},{"classId": "146","className": "脱发斑秃"},{"classId": "142","className": "少精无精"},{"classId": "144","className": "男性不育"}]
                    },
                    {
                    "classId": "5",
                    "className": "呼吸系统类",
                    "twoType": [{"classId": "18","className": "上呼吸道感染"},{"classId": "16","className": "止咳祛痰"},{"classId": "19","className": "气管炎"},{"classId": "17","className": "平喘用药"},{"classId": "1","className": "解热镇痛"},{"classId": "2","className": "病毒性感冒"},{"classId": "122","className": "清热解毒"},{"classId": "123","className": "头痛头晕"},{"classId": "3","className": "驱风祛暑"}]
                    },
                    {
                    "classId": "22",
                    "className": "男科用药",
                    "twoType": [{"classId": "139","className": "前列腺用药"},{"classId": "140","className": "阳痿早泄"},{"classId": "141","className": "滑精遗精"},{"classId": "145","className": "肾气虚弱"},{"classId": "146","className": "脱发斑秃"},{"classId": "142","className": "少精无精"},{"classId": "144","className": "男性不育"}]
                    },
                    {
                    "classId": "5",
                    "className": "呼吸系统类",
                    "twoType": [{"classId": "18","className": "上呼吸道感染"},{"classId": "16","className": "止咳祛痰"},{"classId": "19","className": "气管炎"},{"classId": "17","className": "平喘用药"},{"classId": "1","className": "解热镇痛"},{"classId": "2","className": "病毒性感冒"},{"classId": "122","className": "清热解毒"},{"classId": "123","className": "头痛头晕"},{"classId": "3","className": "驱风祛暑"}]
                    },
                    {
                    "classId": "22",
                    "className": "男科用药",
                    "twoType": [{"classId": "139","className": "前列腺用药"},{"classId": "140","className": "阳痿早泄"},{"classId": "141","className": "滑精遗精"},{"classId": "145","className": "肾气虚弱"},{"classId": "146","className": "脱发斑秃"},{"classId": "142","className": "少精无精"},{"classId": "144","className": "男性不育"}]
                    },
                ],
                active_flag: 0,
                fuckFlag: function(index){
                    avalon.log(drug_main.active_flag= index)
                },
                update: function(data){
                    avalon.log(data)
                }
            })
            avalon.scan()
        })
    </script>
</body>