<section class="main-user">
    <div class="login-banner-top">
        <div class="text-center center-block box-160">
            <br>
            <p class="p zyo-h4 text-gray">您还没有登陆哦~</p>
            <p class="p">
                <a href='' class="btn btn-default center-block">登陆</a>
            </p>
        </div>
        <div class="zyo-box box-88 text-gray">
            <a href='/user/notice'>
                <div class="col-4">
                    <p class='center-block text-center half-width p'>
                        <img class='half-width center-block' src='/resource/img/btn_notice.png'/>
                    </p>
                    <p class='text-center'>
                        <small class='center-block'>我的关注</small>
                    </p>
                </div>
            </a>
            <a href='/user/comment'>
                <div class="col-4">
                    <div class="red-tip-lg pull-right text-center"> employee.fansNum</div>
                    <div class='center-block text-center half-width mui-content-padded'>
<!--						<span class="mui-badge mui-badge-danger">45</span>-->
                        <img class='half-width center-block' src='/resource/img/btn_comment.png'/>
                    </div>
                    <p class='text-center'>
                        <small class='center-block'>我的点评</small>
                    </p>
                </div>
            </a>
            <a href=''>
                <div class="col-4">
                    <p class='center-block text-center half-width p'>
                        <img class='half-width center-block' src='/resource/img/btn_collection.png'/>
                    </p>
                    <p class='text-center'>
                        <small class='center-block'>我的收藏</small>
                    </p>
                </div>
            </a>
            <div class='clear'></div>
        </div>
        <a href=''>
            <div class="zyo-box zyo-box-last box-88 link-right-arrow btn-link">
                <div class='col-1'>
                <p class='text-center '>
                    <img class='half-height-responsive center-block' src='/resource/img/icon_setting_account.png' height='22px' width='22px'/>
                </p>
            </div>
                <div class='col-11 p'>我的账户</div>
            </div>
            <div class='clear'></div>
        </a>
        <a href=''>
            <div class="zyo-box box-88 link-right-arrow btn-link">
                <div class='col-1'>
                <p class='text-center '>
                    <img class='half-height-responsive center-block' src='/resource/img/icon_setting_wallet.png' height='22px' width='22px'/>
                </p>
            </div>
                <div class='col-11 p'>我的钱包</div>
            </div>
            <div class='clear'></div>
        </a>
        <a href=''>
            <div class="zyo-box box-88 link-right-arrow btn-link">
                <div class='col-1'>
                <p class='text-center '>
                    <img class='half-height-responsive center-block' src='/resource/img/icon_setting_system.png' height='22px' width='22px'/>
                </p>
            </div>
                <div class='col-11 p'>系统设置</div>
            </div>
            <div class='clear'></div>
        </a>
<!--        <param value="http://images.cnblogs.com/cnblogs_com/csharp/clock.swf" name="movie">-->
    </div>
</section>