<section class="main-store">
    <nav class="zyo-nav main-nav">
<!--        <div class="col-2">苏州<small>&or;</small></div>-->
        <div class="col-10">
            <div class="col-11">
				<form class="mui-search" action="" method="get">
                	<input class="col-12 search-input-circle mui-input-row mui-search-clear text-black" type='search' placeholder='请输入药店、药品、症状、疾病等' name="q" required='reqiured'/>
				</form>
            </div>
        </div>
        <div class="clear"></div>
    </nav>
    <div class="main-store-top">
        <div class="zyo-box">
            <a href="qq://contacts/profile/craigdavy">
				<div class="col-3 text-center btn-link">
					<p class='p'>
						<img class='icon-index-stores' src='/resource/img/icon_stores_stores.png'/>
					</p>
					<p class='center-block'>
						<small>药店</small>
					</p>
				</div>
            </a>
			<a href="">
				<div class="col-3 text-center btn-link">
					<p class='p'>
						<img class='icon-index-stores' src='/resource/img/icon_stores_pocketcheck.png'/>
					</p>
					<p class='center-block'>
						<small>口袋体检</small>
					</p>
				</div>
			</a>
			<a href="">
				<div class="col-3 text-center btn-link">
					<p class='p'>
						<img class='icon-index-stores' src='/resource/img/icon_stores_diseases.png'/>
					</p>
					<p class='center-block'>
						<small>常见病症</small>
					</p>
				</div>
			</a>
			<a href="">
				<div class="col-3 text-center btn-link">
					<p class='p'>
						<img class='icon-index-stores' src='/resource/img/icon_stores_selfcheck.png'/>
					</p>
					<p class='center-block'>
						<small>疾病自诊</small>
					</p>
				</div>
			</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="main-ads-banner">
        <a href='http://phone.lkhealth.net/ydzx/business/seekdrug/'>
            <div class="zyo-box box-160">
                <img class="full-width" src="/resource/img/img_carousel_loading.png"/>
            </div>
        </a>
    </div>
    <div class="main-hot-chemists">
        <div class='zyo-box zyo-box-last box-88'>
            <p class="p text-left text-gray">热门药师</p>
            <dl>
                <dd class="dd-box">
                    <div class='col-3'>
                        <img class='col-11 circle' src='/resource/img/icon_userphoto_loading.png'/>
                    </div>
                    <div class='col-9'>
                        <div class="col-2 pull-right text-right">
                            <br>
                            <img class="col-10 pull-right" src="/resource/img/btn_tabmsg_active.png"/>
                        </div>
                        <p class='p'><span>莉娜</span></p>
                        <p class="">
                            <small>已服务:<span>102</span>人</small>
                            <small>好评度:<span>1.0</span></small>
                        </p>
                        <p class="text-gray">
                            <small>国大药房新村路店</small>
                        </p>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </dd>
                <dd class="dd-box">
                    <div class='col-3'>
                        <img class='col-11 circle' src='/resource/img/icon_userphoto_loading.png'/>
                    </div>
                    <div class='col-9'>
                        <div class="col-2 pull-right text-right">
                            <br>
                            <img class="col-10 pull-right" src="/resource/img/btn_tabmsg_active.png"/>
                        </div>
                        <p class='p'><span>莉娜</span></p>
                        <p class="">
                            <small>已服务:<span>102</span>人</small>
                            <small>好评度:<span>1.0</span></small>
                        </p>
                        <p class="text-gray">
                            <small>国大药房新村路店</small>
                        </p>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </dd>
            </dl>
        </div>
		<a href="">
			<div class='zyo-box box-88 link-right-arrow'>
				<p class="text-gray">更多热门药师</p>
			</div>
		</a>
    </div>
    <div class="main-hot-stores">
        <div class='zyo-box zyo-box-last box-88'>
            <p class="p text-left text-gray">热门药店</p>
            <dl>
                <dd class="dd-box">
                    <p class='p'>苏州礼安59店</p>
                    <div class="col-3">*****</div>
                    <div class="col-4"><span>9</span>评</div>
                    <div class="pull-right text-right"><span>1.9km</span></div>
                    <div class="clear"></div>
                </dd>
                <dd class="dd-box">
                    <p class='p'>苏州礼安59店</p>
                    <div class="col-3">*****</div>
                    <div class="col-4"><span>9</span>评</div>
                    <div class="pull-right text-right"><span>1.9km</span></div>
                    <div class="clear"></div>
                </dd>
                <dd class="dd-box">
                    <p class='p'>苏州礼安59店</p>
                    <div class="col-3">*****</div>
                    <div class="col-4"><span>9</span>评</div>
                    <div class="pull-right text-right"><span>1.9km</span></div>
                    <div class="clear"></div>
                </dd>
                <dd class="dd-box">
                    <p class='p'>苏州礼安59店</p>
                    <div class="col-3">*****</div>
                    <div class="col-4"><span>9</span>评</div>
                    <div class="pull-right text-right"><span>1.9km</span></div>
                    <div class="clear"></div>
                </dd>
            </dl>
        </div>
		<a href="">
			<div class='zyo-box box-88 link-right-arrow'>
				<p class="text-gray">更多热门药店</p>
			</div>
		</a>
    </div>
    <div class="main-center-banner">
        <a href="">
            <div class="zyo-box box-160">
                <div class='col-4'>
                     <img class="col-11 center-block" src="/resource/img/img_loading_wide.png" max-height='50px'/>
                </div>
                <div class="col-8">
                    <p class="p">养生之道</p>
                    <p class="text-gray"><small>春夏之交的养身之道</small></p>
                </div>
                <div class="clear"></div>
            </div>
        </a>
    </div>
    <div class="main-cross-banner">
        <div class="zyo-box box-88">
            <div class="zyo-box col-6 zyo-box-last btn-link">
                <div class='col-7'>
                    <p class='p text-error b'>宝宝药箱</p>
                    <p><small class='text-gray'>金牌医生力荐</small></p>
                </div>
                <img class='col-4 circle' src='/resource/img/img_loading.png'/>
                <div class='clear'></div>
            </div>
            <div class="zyo-box col-6 zyo-box-last btn-link">
                <div class='col-7'>
                    <p class='p text-warning b'>祛湿小贴士</p>
                    <p><small class='text-gray'>赶走湿邪之气</small></p>
                </div>
                <img class='col-4 circle' src='/resource/img/img_loading.png'/>
                <div class='clear'></div>
            </div>
            <div class="zyo-box col-6 zyo-box-last btn-link">
                <div class='col-7'>
                    <p class='p text-success b'>面粉减肥法</p>
                    <p><small class='text-gray'>吃出苗条身材</small></p>
                </div>
                <img class='col-4 circle' src='/resource/img/img_loading.png'/>
                <div class='clear'></div>
            </div>
            <div class="zyo-box col-6 zyo-box-last btn-link">
                <div class='col-7'>
                    <p class='p text-info b'>口臭怎么办</p>
                    <p><small class='text-gray'>试试荷叶茶</small></p>
                </div>
                <img class='col-4 circle' src='/resource/img/img_loading.png'/>
                <div class='clear'></div>
            </div>
            <div class='clear'></div>
        </div>
    </div>
    <div class="main-bottom-box">
        <div class="zyo-box box-160">
            <div class="col-4 table-cell">
                <div class="col-11 row-6 text-center main-bottom-block">
                    <div class="row-2 text-center">雾霾，唉</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="col-8 table-cell">
                <div class="col-6 table-cell">
                    <div class='col-12 row-3 text-center main-bottom-block'>哇塞~</div>
                </div>
                <div class="col-6 table-cell">
                    <div class='col-12 row-3 text-center main-bottom-block'>哇塞~</div>
                </div>
                <div class="col-6 table-cell">
                    <div class='col-12 row-3 text-center main-bottom-block'>哇塞~</div>
                </div>
                <div class="col-6 table-cell">
                    <div class='col-12 row-3 text-center main-bottom-block'>哇塞~</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>